{% extends 'base.html'%}
{% load static from staticfiles %}
{% block content %}
        <h1>Convert to {{slug}}</h1>
        
        
        <div class="row text-center" style="min-height:400px;" >
            <div class="col-md-2"></div>
            <div class="col-md-2  "   >
                
                <div >
                    <br>
                    <h4>Convert</h4>
                    <form enctype="multipart/form-data" method="post" action="{% url 'imgconverter:filetype' slug=slug%}">{% csrf_token %} 
                        
                        {{form}}
                    <!--<button type="file" class="btn btn-primary text-white">Select Files</button>-->     
                
                    <h4>From:</h4>
                    <h6>FormatName1 to FormatName2</h6>
                    <h4>Files Selected:</h4>
                    <h6>List of selected files</h6>
                    <button type="submit" class="btn btn-primary mb-2 align-baseline ">Submit</button>
                    </form>
                </div>    
                    
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-6 border border-success " ><h4>Preview</h4>
                
                <!--<h6>No Files To Preview</h6>-->
                <img src="{{path}}" class="img-fluid" alt="Responsive image">
            
            </div>
            
        </div>
        
{% endblock %}