{% extends 'base.html'%}
{% load static from staticfiles %}
{% load widget_tweaks %}
{% block content %}
        <h1>Convert to {{slug}}</h1>
<div class="container-fluid" style="background: url('/media/81744.jpg') no-repeat ;background-size: cover;">
            <br>
<div class="container-fluid" >        
        
        <div class="row "  >
               
            
            <div class="col-md-4 border border-dark "   >
                
                <div >
                    
                    <h4>Convert</h4>
                    <form enctype="multipart/form-data" method="post" action="{% url 'imgconverter:filetype' slug=slug%}">{% csrf_token %} 
                        {% for field in form %}
                             <div class=" ">
                            
                            
                            {{ field.errors }}
                            {{field.label}}
                            {{ field }}
                            
                            
                                </div>
                        {% endfor %}
                        
                    <!--<button type="file" class="btn btn-primary text-white">Select Files</button>-->     
                
                    <h4>From:</h4>
                    {%if formatn%}
                        <h6>{{formatn}} to {{slug}}</h6>
                    {%else%}
                        <h6>Unknown to {{slug}}</h6>
                    {%endif%}
                    <h4>File Selected:</h4>
                    {%if name%}
                        <h6>{{name}}</h6>
                    
                    {%else%}
                        <h6>No file selected</h6>
                    {%endif%}
                    <button type="submit" class="btn btn-primary mb-2 align-baseline ">Submit</button>
                    </form>
                </div>    
                    
            </div>
            
            
            <div class="col-md-4 border border-dark " ><h4>Preview</h4>
                <a href="{{download}}" download>
                    
                  
                <!--<h6>No Files To Preview</h6>-->
                <img src="{{path}}" class="img-fluid" style= "max-width: 100%;max-height: 100%"alt="No image to preview">
                </a>
                <br>
            </div>
        
            <div class="col-md-4 border border-dark text-dark  ">
                    <br>                    
                    <h4>Convert your Images easily.</h4>   
                    <h5 >Step 1: Click on browse/choose button to select a file.</h5>
                    <h5>Step 2: Press submit button to start conversion.</h5>
                    <h5>Step 3: Click on the preview image to download.</h5>
                
            </div>
        </div>
        <br>
        <div class="row ">
            <div class="col-md-2"></div>
            <div class="col-md-8 border border-dark  ">
                <h4>Valid Inputs for Conversion</h4>
                <h6>bmp, eps, gif, icns, ico, im, jpeg, jpeg2000, msp, png, tiff, webp, xbm, pcx, ppm, sgi, spider.</h6>
                
            </div>
            
        
        </div>
        <br>
        <div class="row">
                <div class='col-md-2'></div>
                <div class="col-md-8 border border-dark ">
                        <h4>{{slug}} File Format</h4>
                        <h6>
                            {% if slug == "JPEG" %}
                            JPEG is a commonly used method of lossy compression for digital images, particularly for those images produced by digital photography. The degree of compression can be adjusted, allowing a selectable tradeoff between storage size and image quality. JPEG typically achieves 10:1 compression with little perceptible loss in image quality.
                            {% elif slug == "BMP" %}
                            The BMP file format, also known as bitmap image file or device independent bitmap (DIB) file format or simply a bitmap, is a raster graphics image file format used to store bitmap digital images, independently of the display device (such as a graphics adapter), especially on Microsoft Windows and OS/2 operating systems. 
                            {% elif slug == "PNG" %}
                            Portable Network Graphics is a raster-graphics file-format that supports lossless data compression. PNG developed as an improved, non-patented replacement for Graphics Interchange Format (GIF). 
                            {% endif %}
                        </h6>
                       
                </div>
        </div>
        <br>
 </div>  
 <br>     
 </div>
{% endblock %}