{% extends 'base.html'%}
{% load static from staticfiles %}
{% block content %}
<h1>Convert to {{slug}}</h1>
<div class="container-fluid" style="background: url('/media/81744.jpg') no-repeat ;background-size: cover;">
    <br>
<div class="row " >
    <div class="col-md-2 "></div>
    <div class="col-md-4 border border-dark">
            <form enctype="multipart/form-data" method="post" action="{% url 'docconverter:filetype' slug=slug%}">{% csrf_token %} 
            <h4>Convert</h4>
            {{form}}
            <h4>From:</h4>
            
            {%if formatn%}
                {%for i in formatn%}
                <h6>{{i}} to {{slug}}</h6>
                {% endfor %}
            {%else%}
                <h6>Unknown to {{slug}}</h6>
            {%endif%}
            <h4>Files Selected:</h4>
            {%if name%}
                {% for i in name%}
                <h6>{{i}}</h6>
                {% endfor %}
            {%else%}
                <h6>No file selected</h6>
            {%endif%}
            
            <button type="submit" class="btn btn-primary mb-2 align-baseline ">Submit</button>
              
        </form>
        
        </div>
    <div class="col-md-4  text-dark border border-dark" >
        
        <h4>Convert your Documents easily</h4>
        <h5>Step 1: Click on browse button to select a file</h5>
        <h5>Step 2: Press submit button to start conversion</h5>
        <h5>Step 3: Click download  </h5>
        {% if download %}
            {%for i in download%}
            <a href='{{i}}' download>
            <button  class="btn btn-success mb-2 align-baseline " >Download</button>
            </a>
            <br>
            {% endfor %}
        {% endif %}
        {%if error %}
            <div class="bg-danger " style="padding:10px;">
               <h4> Sorry file format not recognized </h4>
            </div>
        {% endif %}
        

    </div>
    <div class="col-md-2 "></div>
    

</div>
<br>
<div class="row ">
    <div class="col-md-2"></div>
    <div class="col-md-8 border border-dark">
        <h4>Valid Inputs for Conversion</h4>
        {% if slug == "PDF" %}
            <h6>jpeg, bmp, png, jpg, commonmark, docbook, docx, epub, haddock, html, json, latex, markdown, markdown\_github, markdown\_mmd, markdown\_phpextra, markdown\_strict, mediawiki, native, odt, opml, org, rst, t2t, textile, twiki.</h6>
        {% else %}
        <h6>commonmark, docbook, docx, epub, haddock, html, json, latex, markdown, markdown\_github, markdown\_mmd, markdown\_phpextra, markdown\_strict, mediawiki, native, odt, opml, org, rst, t2t, textile, twiki.</h6>

        {% endif %}
    </div>
    

</div>
<br>
<div class="row">
        <div class='col-md-2'></div>
        <div class="col-md-8 border border-dark">
                <h4>{{slug}} File Format</h4>
               {% if slug == "PDF" %}
                    <h6>The Portable Document Format (PDF) is a file format developed by Adobe in the 1990s to present documents, including text formatting and images, in a manner independent of application software, hardware, and operating systems.</h6>     
               
                {% elif slug == "DOCX" %}
                    <h6>The DOCX file format is used by Microsoft Word 2007 and later versions. It uses the .docx file extension, and is designed to replace the DOC file format used in previous versions of Word. </h6>
                
                {% elif slug == "MD" %}
                    <h6>Markdown is a lightweight markup language with plain text formatting syntax. Its design allows it to be converted to many output formats, but the original tool by the same name only supports HTML. Markdown is often used to format readme files, for writing messages in online discussion forums, and to create rich text using a plain text editor. </h6>
                {% elif slug == "HTML" %}
                    <h6>Hypertext Markup Language (HTML) is the standard markup language for creating web pages and web applications. With Cascading Style Sheets (CSS) and JavaScript, it forms a triad of cornerstone technologies for the World Wide Web. </h6>
                    {% endif %}
        </div>
</div>
<br>

</div>
{%endblock%}