{% extends 'base.html'%}
{% load static from staticfiles %}
{% block content %}
<h1>Convert to {{slug}}</h1>
<div class="row bg-secondary" >
    <div class="col-md-2 bg-white"></div>
    <div class="col-md-4 bg-white border">
            <form enctype="multipart/form-data" method="post" action="{% url 'docconverter:filetype' slug=slug%}">{% csrf_token %} 
            <h4>Convert</h4>
            {{form}}
            <h4>From:</h4>
            
            {%if formatn%}
                {%for i in formatn%}
                <h6>{{i}} to {{slug}}</h6>
                {% endfor %}
            {%else%}
                <h6>Unknown to {{slug}}</h6>
            {%endif%}
            <h4>Files Selected:</h4>
            {%if name%}
                {% for i in name%}
                <h6>{{i}}</h6>
                {% endfor %}
            {%else%}
                <h6>No file selected</h6>
            {%endif%}
            
            <button type="submit" class="btn btn-primary mb-2 align-baseline ">Submit</button>
              
        </form>
        
        </div>
    <div class="col-md-4 bg-secondary  text-center my-auto text-white" >
        
        <h4>Convert your Documents easily</h4>
        <h5>Step 1: Click on browse button to select a file</h5>
        <h5>Step 2: Press submit button to start conversion</h5>
        <h5>Step 3: Click download  </h5>
        {% if download %}
            <a href='{{download}}' download>
            <button  class="btn btn-success mb-2 align-baseline " >Download</button>
            </a>
            <br>
        {% endif %}
        
        

    </div>
    <div class="col-md-2 bg-white"></div>

</div>
{%endblock%}