{% extends 'base.html'%}
{% load static from staticfiles %}
{% block content %}
	





<div class="container-fluid" style="background: url('media/81744.jpg') no-repeat ;background-size: cover;">
  <br>
    <h1 class="text-center">File Converter</h1>
    
    <div class="row text-center" >
        <div class="col-md-4 "><br><h4>Image Converter</h4><br>
            
            
            <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle " type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Choose format
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" href="{% url 'imgconverter:filetype' slug='JPEG' %}">Convert to JPEG</a>
                      <a class="dropdown-item" href="{% url 'imgconverter:filetype' slug='BMP' %}">Convert to BMP</a>
                      <a class="dropdown-item" href="{% url 'imgconverter:filetype' slug='PNG' %}">Convert to PNG</a>
                    </div>
                  </div>
                  
        </div>
        <div class="col-md-4 "><br><h4>Document Converter</h4><br>
            <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Choose format
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" href="{%url 'docconverter:filetype' slug='PDF'%}">Convert to PDF</a>
                      <a class="dropdown-item" href="{%url 'docconverter:filetype' slug='DOCX'%}">Convert to DOCX</a>
                      <a class="dropdown-item" href="{%url 'docconverter:filetype' slug='MD'%}">Convert to MD</a>
                      <a class="dropdown-item" href="{%url 'docconverter:filetype' slug='HTML'%}">Convert to HTML</a>
                    </div>
                  </div>
                  
        </div>
        <div class="col-md-4"><br><h4>Audio Converter</h4><br>
            <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Choose format
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" href="{%url 'audconverter:filetype' slug='WAV'%}">Convert to WAV</a>
                      <a class="dropdown-item" href="{%url 'audconverter:filetype' slug='MP3'%}">Convert to MP3</a>
                      <a class="dropdown-item" href="{%url 'audconverter:filetype' slug='MP2'%}">Convert to MP2</a>
                      <a class="dropdown-item" href="{%url 'audconverter:filetype' slug='OGA'%}">Convert to OGA</a>
                      
                      
                    </div>
                  </div>
                  
        </div>
        <div class="col-md-4 "><br><h4>Video Converter</h4><br>
            <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Choose format
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" href="{%url 'vidconverter:filetype' slug='MKV'%}">Convert to MKV</a>
                      <a class="dropdown-item" href="{%url 'vidconverter:filetype' slug='MP4'%}">Convert to MP4</a>
                      <a class="dropdown-item" href="{%url 'vidconverter:filetype' slug='OGG'%}">Convert to OGG</a>
                      <a class="dropdown-item" href="{%url 'vidconverter:filetype' slug='WEBM'%}">Convert to WEBM</a>
                    </div>
                  </div>
                  
        </div>

    </div>
    <br>
    <br>
    
</div>

{% endblock %}

