{% extends 'base.html'%}
{% load static from staticfiles %}
{% load widget_tweaks %}


{% block content %}

<h1>Convert to {{slug}}</h1>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-4">
                <form enctype="multipart/form-data" method="post" action="{% url 'audconverter:filetype' slug=slug%}">{% csrf_token %}
                  {% for field in form %}
                       <div class=" ">


                      {{ field.errors }}
                      {{field.label}}
                      {{ field }}


                          </div>
                  {% endfor %}
                  <!--<button type="file" class="btn btn-primary text-white">Select Files</button>-->

                  <h4>From:</h4>
                  {%if formatn%}
                      <h6>{{formatn}} to {{slug}}</h6>
                  {%else%}
                      <h6>Unknown to {{slug}}</h6>
                  {%endif%}
                  <h4>File Selected:</h4>
                  {%if name%}
                      <h6>{{name}}</h6>

                  {%else%}
                      <h6>No file selected</h6>
                  {%endif%}
                  <button type="submit" class="btn btn-primary mb-2 align-baseline ">Submit</button>
                  </form>
              </div>

          </div>


          <div class="col-md-4 border bg-white" ><h4>Preview</h4>
              <a href="{{download}}" download>
                <div class="col-md-4 bg-secondary text-white text-center my-auto ">

                        <h4>Convert your Images easily.</h4>
                        <h5 >Step 1: Click on browse/choose button to select a file.</h5>
                        <h5>Step 2: Press submit button to start conversion.</h5>
                        <h5>Step 3: Click me to download </h5>

                </div>
            </div>



{% endblock %}
