{% extends 'base.html'%}
{% load static %}
{% load widget_tweaks %}


{% block content %}

<h1>Convert to {{slug}}</h1>
<div class="container-fluid" style="background: url('/media/81744.jpg') no-repeat ;background-size: cover;">
    <br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-4 border border-dark">
                <form enctype="multipart/form-data" method="post" action="{% url 'audconverter:filetype' slug=slug%}">{% csrf_token %}
                  <h4>Convert</h4>
                  {% for field in form %}
                       <div class=" ">


                      {{ field.errors }}
                      {{field.label}}
                      {{ field }}


                          </div>
                  {% endfor %}

              <!--<button type="file" class="btn btn-primary text-white">Select Files</button>-->

              <h4>From:</h4>
              {%if formatn%}
                  <h6>{{formatn}} to {{slug}}</h6>
              {%else%}
                  <h6>Unknown to {{slug}}</h6>
              {%endif%}
              <h4>File Selected:</h4>
              {%if name%}
                  <h6>{{name}}</h6>

              {%else%}
                  <h6>No file selected</h6>
              {%endif%}

                  <button type="submit" class="btn btn-primary mb-2 align-baseline ">Submit</button>

                </form>

                </div>
                
            <div class="col-md-4 border border-dark  text-dark" >

                <h4>Convert your Audio Files easily</h4>
                <h5>Step 1: Click on browse button to select a file</h5>
                <h5>Step 2: Press submit button to start conversion</h5>
                <h5>Step 3: Click download  </h5>
                {% if download %}

                  <a href='{{download}}' download>
                  <button  class="btn btn-success mb-2 align-baseline " >Download</button>
                  </a>
                  <br>

                {% endif %}
                {%if error %}
                  <div class="bg-danger " style="padding:10px;">
                     <h4> Sorry file format not recognized </h4>
                  </div>
                {% endif %}


            </div>
            <div class="col-md-2"></div>
        </div>
        
    </div>
                <br>
                <div class="row ">
                        <div class="col-md-2"></div>
                        <div class="col-md-8  border border-dark">
                            <h4>Valid Inputs for Conversion</h4>
                            <h6>MPEG-1 Part 2, H.261 (Px64), H.262/MPEG-2 Part 2, H.263, MPEG-4 Part 2, H.264/MPEG-4 AVC, HEVC/H.265  MP1, MP2, MP3, AAC, HE-AAC, MPEG-4 ALS.</h6>
                            
                        </div>
                </div>
                    <br>

                    <div class="row">
                            <div class='col-md-2'></div>
                            <div class="col-md-8  border border-dark">
                                    <h4>{{slug}} File Format</h4>
                                    <h6>
                                        {% if slug == "WAV" %}
                                        Waveform Audio File Format is a Microsoft and IBM audio file format standard for storing an audio bitstream on PCs.
                                        {% elif slug == "MP3" %}
                                        MP3 is a coding format for digital audio. Originally defined as the third audio format of the MPEG-1 standard, it was retained and further extended—defining additional bit-rates and support for more audio channels—as the third audio format of the subsequent MPEG-2 standard.
                                        {% elif slug == "MP2" %}
                                        MPEG-1 Audio Layer II or MPEG-2 Audio Layer II is a lossy audio compression format defined by ISO/IEC 11172-3 alongside MPEG-1 Audio Layer I and MPEG-1 Audio Layer III.
                                        {% elif slug == "OGA"%}
                                        OGA files are essentially just the audio only element of an OGG file. It's a container format that contains the audio transport stream encoded in the Vorbis format.
                                        {% endif %}
                                    </h6>
                                   
                            </div>
                    </div>
                    <br>
</div>
            
                {%endblock%}
